.welcome-card img {
  max-height: 35vh;
  object-fit: cover;
  overflow: hidden;
}

mat-expansion-panel {
  width: 98%;
  margin: auto;
}

.horizontal-card {
  // max-height: 35vh;
}
.horizontal-card img {
  // max-width: 300px;
  // margin: auto;
  object-fit: cover;
}

.accordion_content {
  display: flex;
  flex-wrap: wrap;
}

.food_card {
  width: 300px;
  height: 420px;
}

.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 200px;
  width: 500px;
  border: 1px solid black;
}

// .horizontal-card {
//   width: 300px;
// }

.mat-action-row {
  justify-content: space-between;
}

ion-select .select-placeholder {
  opacity: 0 !important;
}

ion-slides {
  --bullet-background: black;
  // --bullet-background-active: blue;
}
